{% extends "runs/base.html" %}
{% load static %}
{% block head %}
    <link href="{% static "qie_cards/css/catalog.css" %}" rel="stylesheet">
    <style>
        .divider{
            width:200px;
            height:auto;
            display:inline-block;
        }
        
    </style>
{% endblock %}

{% block title %}Calibration Plots{% endblock %}

{% block content %}
<div class="row" align="center" style="padding-left:50px; padding-right:50px">
    <h3>{{attempt.card.barcode}}</h3>
    <div id="breakLine" style="height:2px;width:100%;background-color:#E74C3C"></div>
</div><br>
{% if attempt.has_image %}
  <ul>
  {% for image in attempt.get_images %}  
  <br><span title="{{image}}"
  <li style="list-style-type: none"><a href="../../../../../cards/media/{{attempt.image}}/{{image}}"><img src="../../../../../cards/media/{{attempt.image}}/{{image}}" alt="{{image}}" style="width:50%"></a></li>
  </span>
  <br/>
  {% endfor %}
  </ul>
  {% else %}
  NO IMAGES FOUND
  {% endif %}
  <!-- if anyone sees this, help nesta -->
</ul>
<br/>
<div align="center">
  <form method="post" id="test_results">
    {% csrf_token %}
    Tester Name:
    <br/>
    <select name="testers" required style="color:black">
      <option value="" selected="true" disabled="disabled">Select Name</option>
      {% for tester in testers %}
      <option value="{{tester.username}}">{{tester.username}}</option>
      {% endfor %}
    </select>
    
    <br/>
    <br/>
    <!--<textarea rows="4" cols="50" name="comments" placeholder="Place comments here..." style="color: black"></textarea>-->
    <div style="width:35%">
      <textarea class="form-control" placeholder="Place Comments Here...", required name="comments" rows="4"></textarea>
    </div>
    <br/>
    <br/>
    <button  type="submit" class="btn btn-primary" style="margin-right:40px; padding-right:50px;padding-left:50px;" name="pass">
      PASS
    </button>
    <button  type="submit" class="btn btn-primary" style="margin-left:40px; padding-right:50px;padding-left:50px;background-color:#E74C3C" name="fail" >
      FAIL
    </button>
  </form>
</div>
<br/>
<br/>
<br/>
{% endblock %}
