{% extends "runs/base.html" %}
{% load static %}
{% block head %}
    <link href="{% static "qie_cards/css/catalog.css" %}" rel="stylesheet">
    <style>
        .divider{
            width:200px;
            height:auto;
            display:inline-block;
        }
        
    </style>
{% endblock %}

{% block title %}Calibration Plots{% endblock %}

{% block content %}
<div id="size_div">
<div class="row" align="center" style="padding-left:50px; padding-right:50px">
    <h3>{{attempt.card.barcode}}</h3>
    <div id="breakLine" style="height:2px;width:100%;background-color:#E74C3C"></div>
</div><br>
{% if attempt.has_image %}
  <ul>
  {% for image in attempt.get_images %}  
  <br><span title="{{image}}"
  <li style="list-style-type: none"><a href="../../../../../cards/media/{{attempt.image}}/{{image}}" target="_blank"><img src="../../../../../cards/media/{{attempt.image}}/{{image}}" alt="{{image}}" style="width:70%"></a></li>
  </span>
  <br/>
  {% endfor %}
  </ul>
  {% else %}
  NO IMAGES FOUND
  {% endif %}
  <!-- if anyone sees this, help nesta -->
</ul>
<br/>
</div>
<div align="center">
  <form method="post" id="cal_test_results">
    {% csrf_token %}
    Tester Name:
    <br/>
    <select name="testers" required style="color:black">
      <option value="" selected="true" disabled="disabled">Select Name</option>
      {% for tester in testers %}
      <option value="{{tester.username}}">{{tester.username}}</option>
      {% endfor %}
    </select>
    
    <br/>
    <br/>
    <!--<textarea rows="4" cols="50" name="comments" placeholder="Place comments here..." style="color: black"></textarea>-->
    <div id="floating-sidebar" style="width:27%; height:70%; position:fixed; top:327px; right:10px">
      <textarea class="form-control" id="comment_area" placeholder="Place Comments Here...", required name="comments" rows="14"></textarea>
    </div>
    <br/>
    <br/>
    <button type="submit" class="btn btn-primary" style="margin-right:40px; padding-right:50px;padding-left:50px;" name="pass">
      PASS
    </button>
    <button type="submit" class="btn btn-primary" style="margin-left:40px; padding-right:50px;padding-left:50px;background-color:#E74C3C" name="fail" >
      FAIL
    </button>
  </form>
</div>
<br/>
<br/>
<br/>
{% endblock %}

{% block script %}
<script type="text/javascript">
$(window).scroll(function() { 
    var target = $('#floating-sidebar');
    if(target.length){
        var targetScroll = target.offset().top;
    }
    var currentScroll = $('html').scrollTop() || $('body').scrollTop();
    var totop = $('#size_div');
    if(totop.length){
        var footertotop = totop.offset().top;
    }
    var adtobottom=$('#floating-sidebar').position().bottom;
    if(currentScroll < footertotop - 270){
        $('#floating-sidebar').css({position:"absolute", paddingLeft:"0px", top:footertotop+149, right:"10px", height:"40%", width:"27%"});
        document.getElementById("comment_area").rows = 14;
        //$('#com_spacing').css({height:"168px", width:"30%"});
    } else if(currentScroll >= footertotop - 270 && (window.innerHeight + window.pageYOffset) < document.getElementById("size_div").offsetHeight + 600) {
        $('#floating-sidebar').css({position:"fixed", paddingLeft:"0px", top:"40%", right:"10px", height:"40%", width:"27%"});
        //$('#com_spacing').css({visibility:"hidden", height:"168px", width:"30%"});
        document.getElementById("comment_area").rows = 14;
    } else {
        $('#floating-sidebar').css({position:"relative", paddingLeft:"15px", top:"90%", width:"30%", height:"50%"});
        $('#com_spacing').css({position:"absolute"});
        document.getElementById("comment_area").rows = 7;
        document.getElementById("comment_area").align="center";
    }
});
</script>
<script>
$(document).ready(function(){
    var totop = $('#size_div');
    if(totop.length){
        var footertotop = totop.offset().top;
    }
    $('#floating-sidebar').css({position:"absolute", paddingLeft:"0px", top:footertotop+149, right:"10px", height:"40%", width:"27%"});
})
</script>

{% endblock %}
