{% extends "runs/base.html" %}
{% load static %}
{% block head %}
    <link href="{% static "qie_cards/css/catalog.css" %}" rel="stylesheet">
    <style>
        .divider{
            width:200px;
            height:auto;
            display:inline-block;
        }
        
    </style>
{% endblock %}

{% block title %}Calibration Plots{% endblock %}

{% block content %}
<ul>
  <li style="font-size:18px"><h3><a href="../../../../cards/{{attempt.card.barcode}}/Calibration">{{attempt.card.barcode}}<!--: {{attempt.card.get_uid_split}}--></a></h3></li>
  {% if attempt.has_image %}
  <ul>
  {% for image in attempt.get_images %}  
  <li style="list-style-type: none"><a href="../../../../../cards/media/{{attempt.image}}/{{image}}"><img src="../../../../../cards/media/{{attempt.image}}/{{image}}" style="width:35%"></a></li>
  <br/>
  {% endfor %}
  </ul>
  {% else %}
  NO IMAGES FOUND
  {% endif %}
  <!-- if anyone sees this, help nesta -->
</ul>
{% endblock %}
