{% extends "runs/base.html" %}

{% block title %}Run {{run}}{% endblock %}
{% block head %}
<style>
    .divider{
        width:400px;
        height:auto;
        display:inline-block;
    }
    .forced{
        color:#2C3E50;
        background-color:#2ECC71;
    }
    .warn{
        color:#2C3E50;
        background-color:#F1C40F;
    }
    .okay{
        color:#2C3E50;
        background-color:#2ECC71;
    }
    .bad{
        color:#2C3E50;
        background-color:#E74C3C;
    }
    .comments{
        margin-left:50px;
        background:#27ae60;
        width: 400px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    }
    .fpassed{
        color:#2C3E50;
        background-color:#77E83F;
    }
    .ffailed{
        color:#2C3E50;
        background-color:#ED7015;
    }
table.info {
    width : 1200px;
    table-layout : auto;
    border-collapse : collapse;
}
td {
    padding : 5px;
}
table, td, th, thead {
    border : 1px solid white;
}
</style>
{% endblock %}

{% block content %}
<div class="row" align="center" style="padding-left:50px; padding-right:50px">
    <h3>{{date}} | Run: {{cal_run}}</h3>
    <div id="breakLine" style="height:2px;width:100%;background-color:#E74C3C"></div>
</div><br>
<div style="padding-left:25px;">
  <table id="cardstatus" class="table table-bordered" cellspacing="0" style="width:73%;">
    <thead class="thead-default" style="color:#2C3E50;background-color:#ECF0F1"> 
      <tr>
        <th style="font-size:20px; text-align: center;" align="center">Qie Cards</th>
        <th style="font-size:20px; text-align: center" align="center">Unique ID</th>
        <th style="font-size:20px; text-align: center" align="center">Calibration Plot Inspection</th>
      </tr>
    </thead>
    <tbody>
      {% for attempt in attempt_list %}
      <tr>

        <td style="font-size:18px" align="center"><a href="{{attempt.attempt.card}}/">{{attempt.attempt.card}}</a></td>
        <td style="font-size:18px" align="center">({{attempt.attempt.card.get_uid_split}})</td>
        {% if attempt.valid %}
        {% if attempt.attempt.get_status == "PASS" %}
        <td  class="okay" style="font-size:18px" align="center">{{attempt.attempt.get_status}}</td>
        {% elif attempt.attempt.get_status == "REVOKED: PASSED" %}
        <td  class="fpassed" style="font-size:18px" align="center">{{attempt.attempt.get_status}}</td>
        {% elif attempt.attempt.get_status == "REVOKED: FAILED" %}
        <td  class="ffailed" style="font-size:18px" align="center">{{attempt.attempt.get_status}}</td>
        {% else %}
        <td  class="bad" style="font-size:18px" align="center">{{attempt.attempt.get_status}}</td>
        {% endif  %} 
        {% else %}
        <td style="font-size:18px" class="warn"align="center">REMAINING</td>
        {% endif  %}
        <td style="font-size:18px" align="right"><a href="../../../../cards/{{attempt.attempt.card}}/Calibration">Link to Calibration Details</a></td>
        <td style="font-size:18px" align="right"><a href="../../../../cards/{{attempt.attempt.card}}/Calibration%20Plot%20Inspection">Link to Inspection Details</a></td>
      </tr>
      {%endfor%}
    </tbody>  
  </table>
</div>
{% endblock %}
