{% extends "runs/base.html" %}
{% block title %}DQM: {{card}}{% endblock %}
{% block content %}
<ul>
  {% for test in test_list %}
    {% if test.name != 'Plot Inspection' %}
    <li style="font-size:18px"><h3>{{test.name}}</h3></li>
    {% for attempt,data in attempts %}
      {% if test == attempt.test_type %}
        {% if attempt.has_image %}
          {% for image in attempt.get_images %}
            <a href="../../../cards/media/{{attempt.image}}/{{image}}"><img src="../../../cards/media/{{attempt.image}}/{{image}}" style="width:20%"></a>
          {% endfor %}
        {% endif %}
            
        {% if data != ""%}
        <br/>
        <br/>
          <button class="btn btn-primary" onclick="document.getElementById('data_{{attempt.test_type}}').classList.toggle('hide')">Show Data</button>
          <p style="white-space: pre-wrap;" class="hide" id="data_{{attempt.test_type}}"> {{data}} </p>
        {% else %}            
          <p> This Attempt Has No Data</p>
        {% endif %}
  

      {% endif %}
    {% endfor %}
    <br/>
    <br/>
    {% endif %}
  {% endfor %}
</ul>
<br/>
<div align="center">
  <form method="post" id="test_results">
    {% csrf_token %}
    Tester Name:
    <br/>
    <select name="testers" required style="color:black">
      <option value="" selected="true" disabled="disabled">Select Name</option>
      {% for tester in testers %}
      <option value="{{tester.username}}">{{tester.username}}</option>
      {% endfor %}
    </select>
    
    <br/>
    <br/>
    <!--<textarea rows="4" cols="50" name="comments" placeholder="Place comments here..." style="color: black"></textarea>-->
    <div style="width:35%">
    {{ form.comments }}
    </div>
    <br/>
    <br/>
    <button  type="submit" class="btn btn-primary" style="margin-right:40px; padding-right:50px;padding-left:50px;" name="pass">
      PASS
    </button>
    <button  type="submit" class="btn btn-primary" style="margin-left:40px; padding-right:50px;padding-left:50px;background-color:#E74C3C" name="fail" >
      FAIL
    </button>
  </form>
</div>
<br/>
<br/>
<br/>
{% endblock %}
