{% extends "runs/base.html" %}

{% block title %}Run {{run}}{% endblock %}
{% block head %}
<style>
    .divider{
        width:400px;
        height:auto;
        display:inline-block;
    }
    .forced{
        color:#2C3E50;
        background-color:#2ECC71;
    }
    .warn{
        color:#2C3E50;
        background-color:#F1C40F;
    }
    .okay{
        color:#2ECC71;
    }
    .bad{
        color:#2C3E50;
        background-color:#E74C3C;
    }
    .comments{
        margin-left:50px;
        background:#27ae60;
        width: 400px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
    }
table.info {
    width : 1200px;
    table-layout : auto;
    border-collapse : collapse;
}
td {
    padding : 5px;
}
table, td, th, thead {
    border : 1px solid white;
}
</style>
{% endblock %}

{% block content %}
<div class="row" align="center" style="padding-left:50px; padding-right:50px">
    <h3>Run: {{run}}</h3>
    <div id="breakLine" style="height:2px;width:100%;background-color:#E74C3C"></div>
</div><br>
<div style="padding-left:25px;">
  <table id="cardstatus" class="table table-bordered" cellspacing="0" style="width:30%;">
    <thead class="thead-default" style="color:#2C3E50;background-color:#ECF0F1"> 
      <tr>
        <th style="font-size:20px">Qie Cards</th>
        <th style="font-size:20px; padding-left:11%;">Plot Inspection</th>
      </tr>
    </thead>
    <tbody>
      {% for card in card_list %}
      <tr>
        <td style="font-size:18px"><a href="{{card.barcode}}/">{{card.barcode}}</a></td>
        {% if attempt_list %}
        {% for attempt in attempt_list %}
        <td style="font-size:18px" align="center">{{attempt.get_status}}</td>
        {% endfor %}
        {% else %}
        <td class="warn" align="center" style="font-size:18px">REMAINING</td>
        {% endif %}
      </tr>
      {%endfor%}
    </tbody>  
  </table>
</div>
<div id="breakLine" style="height:2px;width:100%;background-color:#E74C3C"></div>
<div style="padding-left:25px;">
  <h3>Test Type:</h3>
</div>
<ul>
  {% for test in test_list%}
  <li style="font-size:18px"><a href="{{test.name}}/">{{test.name}}</a></li>
  {%endfor%}
</ul>
{% endblock %}
