{% extends "runs/base.html" %}
{% block content %}
<ul>
  {% for card in card_list %}
    <li style="font-size:18px"><h3>{{card.barcode}}</h3></li>
    {% for attempt in attempt_list %}
      {% if card == attempt.card %}
        {% if attempt.has_image %}
          {% for image in attempt.get_images %}
            <a href="../../../cards/media/{{attempt.image}}/{{image}}"><img src="../../../cards/media/{{attempt.image}}/{{image}}" style="width:20%"></a>
          {% endfor %}
        {% endif %}
      {% endif%}
    {% endfor %}
  {% endfor %}
</ul>       
{% endblock %}
