{% extends "qie_cards/base.html" %}

{% block title %}Error{% endblock %}

<style>
  .top-three {
      margin-bottom: 3cm;
  }
</style>

{% block content %}
<div class="row" align="left" style="padding-left:50px; padding-right:50px">
    
<h3 align="center">Card {{query}} Not Found<h3>
<div id="breakLine" style="height:2px;width:100%;background-color:#E74C3C"></div>
<h6>Please enter the full barcode of the card you are looking for.<h6>
{% if qiecard %}
<h6>Maybe you were looking for one of these: <h6>
  <ul>
    {% for card in qiecard %}
    <li><a href="../{{card.barcode}}">{{card.barcode}}</a></li>
    {% endfor %}
  </ul>
{% else %}
    <h6>No possible matches were found.</h6>
{% endif %}
</div>
{% endblock %}

