{% extends "qie_cards/base.html" %}
{% load static %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="{% static "qie_cards/js/makeplot.js" %}"></script>
<style>
.splitColumns {
    -webkit-column-count: 3;
       -moz-column-count: 3;
            column-count: 3;
}
</style>
{% endblock %}

{% block title %}Database Plots{% endblock %}
{% block content %}

{% for plot in plots %}
<a href="../cards/media/summary_plots/plots/{{plot}}" target="_blank"><img src="../cards/media/summary_plots/plots/{{plot}}" style="width:20%"></a>
{% endfor %}


{% endblock %}
